@use '../mixins';

.main {
    @include mixins.flex(column, center);
    position: relative;
    width: 100%;
    min-height: 80vh;
    margin: 30px 0;

    .emoji {
        position: absolute;
        top: 50%;
        right: -80px;
        font-size: 150px;
        pointer-events: none;
    }

    header {
        margin: 20px 0;
        text-align: center;

        h1 {
            margin-bottom: 10px;
        }
    }

    @include mixins.mobile() {
        .emoji {
            right: -50px;
        }

        header {
            @include mixins.flex(column, center);
            gap: 20px;
        }
    }
}
